{% extends "base.html" %}

{% block content %}
<div class="container container-max-4">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h1 class="my-4">Log Out</h1>
            <p>Are you sure you want to log out?</p>
            <div class="d-flex justify-content-center flex-wrap gap-3">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-custom" type="submit">Log Out</button>
                </form>
                <a href="javascript:history.back()" class="btn btn-custom2">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}