<div class="container container-narrow mt-5">
  <h2 class="h3-style">{{ division.name }}</h2>
  {% if table %}
  <table class="league-table table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center"></th>
        <th>Team</th>
        <th class="text-center">P</th>
        <th class="text-center">W</th>
        <th class="text-center">D</th>
        <th class="text-center">L</th>
        <th class="text-center">Pts</th>
      </tr>
    </thead>
    <tbody>
      {% for team in table %}
        <tr>
          <td class="text-center">{{ forloop.counter }}</td>
          <td>            
            {{ team.name }}
          </td>
          <td class="text-center">{{ team.P }}</td>
          <td class="text-center">{{ team.W }}</td>
          <td class="text-center">{{ team.D }}</td>
          <td class="text-center">{{ team.L }}</td>
          <td class="text-center fw-bold">{{ team.Pts }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No table to display</p>
  {% endif %}
</div>
