<section id="team-players" class="container mt-5">
  <h2 class="h3-style">Players</h2>
  {% if results_data %}
    <div class="table-responsive">
      <table class="table table-striped  table-hover table-bordered">
        <thead>
          <tr>
            <th>Player</th>
            <th class="text-center">P</th>
            <th class="text-center">W</th>
            <th class="text-center">%</th>
          </tr>
        </thead>
        <tbody>
          {% for player in player_data %}
          <tr>
            <td>
              {{ player.name }}
              {% if not player.is_registered %}<span class="text-muted small">(RESERVE)</span>{% endif %}
            </td>
            <td class="text-center">
              {{player.played}}
            </td>
            <td class="text-center">
              {% if player.played > 0 %}{{player.wins}}{% else %}-{% endif %}
            </td>
            <td class="text-center fw-bold">
              {% if player.played > 0 %}{{player.percent}}{% else %}-{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No player data available</p>
  {% endif %}
</section>