<div class="modal fade" id="venue-modal" tabindex="-1" aria-labelledby="venue-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="venue-modal-label">Venue Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="modal-fixture-info" class="fw-semibold fst-italic">
          <!-- Initialised using JS -->
        </div>
        <div id="modal-venue-info" role="status">
          <!-- Initialised using JS - populated using HTMX -->
        </div>
      </div>
    </div>
  </div>
</div>