{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-max-6">
    <div class="row">
        <div class="col-12 my-5">
            <h1 class="h2-style my-4 text-center">Delete Account?</h1>
            <p class="fw-bold">This will permanently delete your login credentials for this website.</p>
            <div class="border px-4">
                <p class="my-3">If your account has club admin status, the club itself will not be deleted. Club details and venues will remain on the clubs page.</p>
                <p class="my-3">If your account is linked to a player, player data (e.g. club, fixtures, results etc.) will be unaffected when you delete your account.</p>
            </div>
            <form method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <div class="form-check my-3">
                    <input id="confirm-account-delete" class="form-check-input confirmation-checkbox" type="checkbox" name="confirm_delete" required>
                    <label for="confirm-account-delete" class="form-check-label">
                    I understand that my account will be permanently deleted and that this action cannot be undone.
                    </label>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                    <button id="btn-delete-account" class="btn btn-custom-danger confirmation-required" type="submit" disabled>Delete Account</button>
                    <a href="{% url 'account_settings' %}" class="btn btn-custom2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static "js/enable_button_on_confirm.js" %}"></script>
{% endblock %}