/* Common Page Elements */
:root {
    /* Accounting for navbar */
    --navbar-height: 49px;
    scroll-padding-top: var(--navbar-height);
    /* Colours */
    --light-1: #fff;
    --light-2: #f0f0f0;
    --light-3: #cfcfcf;
    --dark-1: #0f0f0f;
    --dark-2: #202020;
    --primary-1: #0b2151;
    --primary-2: #1e4989;
    --primary-3: #b9c8dd;
    --secondary-1: #a62521;
    --secondary-2: #cd2f29;
    --secondary-3: #a25a58;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding-top: var(--navbar-height);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bring-to-front {
    z-index: 1000;
}

.row-gap-2 {
    row-gap: 0.5rem;
}

.row-gap-3 {
    row-gap: 1rem;
}

.col-gap-4 {
    column-gap: 1.5rem;
}

.col-gap-5 {
    column-gap: 3rem;
}

.green {
    color: green;
}

.amber {
    color: orange;
}

.red {
    color: red;
}

/* Containers */
.container-max-4 {
    max-width: 400px;
    margin: 0 1rem;
}

.container-max-5 {
    max-width: 500px;
    margin: 0 1rem;
}

.container-max-6 {
    max-width: 600px;
    margin: 0 1rem;
}

.container-max-8 {
    max-width: 800px;
    margin: 0 1rem;
}

/* Buttons */
.btn-custom {
    background-color: var(--secondary-2);
    border: 2px solid var(--secondary-1);
    color: #f0f0f0;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
}

.btn-custom:hover {
    background-color: #a62521;
    color: #ffffff;
}

.btn-custom2 {
    background-color: var(--primary-3);
    border: 2px solid var(--primary-2);
    color: var(--dark-2);
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
}

.btn-custom2:hover {
    background-color: var(--primary-2);
    color: #ffffff;
}

.btn-toggle {
    color: var(--dark-2)
}

/* Links */
a {
    text-decoration: none;
    color: var(--primary-1);
    font-weight: 600;
}

a:hover {
    color: var(--primary-2);
}

/* Form Info */
.form-info {
    background-color: var(--light-2);
}

/* Filter Menus */
.filter-box {
    border: 1px solid var(--dark-2);
    background-color: var(--light-2);
    color: var(--dark-2);
}

/* Navbar */
.navbar {
    padding: 2px 0;
}

#nav-logo {
    height: 35px;
}

.nav-user-highlight {
    color: var(--primary-3);
}

/* User banner */
.user-banner {
    position: absolute;
    top: var(--navbar-height);
    z-index: 1;
}

.user-logged-in {
    padding: 0.2rem 1rem;
    background-color: var(--primary-3);
    color: var(--dark-2);
}

/* Footer */
footer a {
    /* text-decoration: none; */
    color: var(--light-3);
}

footer a:hover {
    color: var(--light-1);
}

.social-media a {
    font-size: 1.5rem;
    margin: 0 0.2rem;
}


/* HOMEPAGE */
/* Hero section */
#hero {
    position: relative;
    width: 100%;
    height: 70vh;
}

#hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70%;
    z-index: -2;
}

#hero-overlay {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 300px;
    z-index: -1;
}

/* News section */
#news {
    background-color: var(--primary-2);
    color: #f0f0f0;
}

.carousel-item {
    padding: 0 3rem;
}

.carousel-item h3 {
    color: #FFEE00;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto; /* or something like 2rem, 40px, etc. */
  padding: 0.5rem; /* optional: reduce clickable area */
}

.carousel-indicators {
    position: static;
}

#faq {
    width: 100%;
    background-color: var(--light-2);
}

/* Override bootstrap accordion styles */
.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 1px #bf2622;
}

.accordion-button:not(.collapsed) {
    background-color: #bf2622;
    color: #fff;
}    

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1); /* makes the arrow white */
}

.sponsor-img {
    height: 60px;
}

/* CONTACT PAGE */
#contact-info-box {
    border: 1px solid black;
    padding: 0 3rem;
}

#phone-and-email {
    column-gap: 1.5rem;
    row-gap: 0.3rem;
}

#enquiries {
    background-color: var(--light-2);
}

#enquiry-form {
    max-width: 700px;
    
}

/* CLUBS PAGE */
.club {
    background-color: var(--light-1);
}

.club-contacts {
    background-color: var(--light-2);
}

.venue {
    background-color: var(--light-2);
}

#club-info-preview {
    background-color: var(--primary-1);
}

/* CLUB ADMIN PAGE */
#club-info-management {
    background-color: var(--light-1);
}

#club-info-management ul {
    background-color: var(--light-2);
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Media Queries */
@media (min-width: 900px) { 

    #hero-overlay {
        top: 10%; /* Reduce image width for better spacing */
        width: 35%;
    }
}
