{% extends "base.html" %} 
{% load static %} 

{% block content %}
<h1 class="mt-5">Club Admin Dashboard</h1>
<p class="mb-5">{{ club.name }}</p>

<section id="club-info-admin" class="w-100 mt-4 py-5 px-2">
  <div class="container-lg">
    <div class="row justify-content-center m-0">
      <div class="col-12 col-lg-9 px-0">
        <!-- Club Info Heading and Toggle Button -->
        <div class="d-flex justify-content-between mb-4">
          <h2>Club and Venue Information</h2>
          {% if club.info %}
          <button
            class="btn btn-custom2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#club-info-preview"
            aria-expanded="false"
            aria-controls="club-info-preview"
          >
            Toggle Preview
          </button>
          {% endif %}
        </div>

        {% if club.info %}
        <!-- Club Info Preview -->
        <section id="club-info-preview" class="collapse py-2 px-4 my-4">
          {% if club.has_pending_info %}
          <p class="fw-semibold text-white fst-italic m-0">
            NOTE: The preview below includes information that is awaiting approval.
            Once approved, the information on the Clubs page will look like this.
          </p>
          {% endif %}
          {% include 'clubs/partials/club_info.html' %} 
        </section>
        {% endif %}

        <!-- Club Info Management Panel -->
        <section>
          <ul>
            <li class="border d-flex justify-content-between align-items-center gap-3 px-4 py-2">
              {% if club.info %}
                {% if club.info.approved %}
                <div class="m-0" aria-label="Club information has been approved" title="Club information has been approved">
                  <i class="fa-solid fa-circle green me-2"></i>
                  <span aria-hidden="true">Club Information</span>
                </div>
                <div class="flex-shrink-0 d-flex gap-1">
                  <a href="#" class="btn" aria-label="Edit details" title="Edit details">
                    <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="btn"  aria-label="Delete details" title="Delete details">
                    <i class="fa-solid fa-trash"  aria-hidden="true"></i>
                  </a>
                </div>
                {% else %}
                <div class="m-0" aria-label="Club information is awaiting review by website administrator" title="Club information is awaiting review by website administrator">
                  <i class="fa-solid fa-circle amber me-2"></i>
                  <span aria-hidden="true">Club Information (PENDING APPROVAL)</span>
                </div>
                <div class="flex-shrink-0 d-flex gap-1">
                  <a href="#" class="btn" aria-label="Edit details" title="Edit details">
                    <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="btn"  aria-label="Delete details" title="Delete details">
                    <i class="fa-solid fa-trash"  aria-hidden="true"></i>
                  </a>
                </div>
                {% endif %} 
              {% else %}
              <div class="m-0" aria-label="Club information is missing" title="Club information is missing">
                <i class="fa-solid fa-circle-exclamation red me-2"></i>
                <span class="fw-semibold">Club Information REQUIRED</span>
              </div>
              <a href="{% url "update_club_info" %}" aria-label="Add club details" title="Add club details">
                <i class="fa-solid fa-circle-plus"></i>
              </a>
              {% endif %}
            </li>
            {% for venue in club.venues %}
            <li class="border d-flex justify-content-between align-items-center gap-3 px-4 py-2">
              {% if venue.approved %}
              <div class="m-0" aria-label="Approved" title="Approved">
                <i class="fa-solid fa-circle green me-2"></i>
                {{ venue.name }}
              </div>
              <div>
                <a href="#" class="btn" aria-label="Unassign" title="Unassign">
                  <i class="fa-solid fa-link-slash"></i>
                </a>
                <a href="#" class="btn" aria-label="Edit details" title="Edit details">
                  <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn"  aria-label="Delete details" title="Delete details">
                  <i class="fa-solid fa-trash"  aria-hidden="true"></i>
                </a>
              </div>
              {% else %}
              <div class="m-0" aria-label="Pending approval" title="Pending approval">
                <i class="fa-solid fa-circle amber me-2"></i>
                {{ venue.name }}
              </div>
              <div>
                <a href="#" class="btn" aria-label="Unassign" title="Unassign">
                  <i class="fa-solid fa-link-slash"></i>
                </a>
                <a href="#" class="btn" aria-label="Edit details" title="Edit details">
                  <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn"  aria-label="Delete details" title="Delete details">
                  <i class="fa-solid fa-trash"  aria-hidden="true"></i>
                </a>
              </div>
              {% endif %} 
            </li>
            {% empty %}
            <li class="border d-flex justify-content-between gap-3 px-4 py-2">
              <div class="m-0" aria-label="Club information is missing" title="Club information is missing">
                <i class="fa-solid fa-circle-exclamation red me-2"></i>
                <span class="fw-semibold">Venue Information REQUIRED</span>
                <p class="ms-5 fst-italic">Click the Assign button to see if the venue already exists. If it doesn't, click the Create button.</p>
              </div>
              <div class="flex-shrink-0 d-flex gap-1">
                <a href="#" class="btn" aria-label="Assign Existing Venue" title="Assign Existing Venue">
                  <i class="fa-solid fa-link"></i>
                </a>
                <a href="#" class="btn" aria-label="Create New Venue" title="Create New Venue">
                  <i class="fa-solid fa-circle-plus"></i>
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="d-flex justify-content-start row-gap-3 col-gap-5 py-3 px-4">
            <a href="#"><i class="fa-solid fa-link me-2"></i>Assign Existing Venue</a>
            <a href="#"><i class="fa-solid fa-circle-plus me-2"></i>Create New Venue</a>
          </div>
        </section>
        
      </div>
    </div>
  </div>
</section>
{% endblock %}
