{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="visually-hidden">Clubs Page</h1>
<!-- Club Info Section -->
<section id="club-info" class="w-100 mt-4 px-2">
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 px-0">
        <h2 class="text-center my-5">Clubs</h2>
        <!-- All Clubs -->
        {% for club in clubs %}
          {% include 'clubs/partials/club_info.html' %}
        {% empty %}
          <p class="text-center m-1">No clubs found.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
