{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1 class="visually-hidden">Clubs Page</h1>
  <!-- Locations Section (with map) -->
  {% include 'clubs/partials/venue_locations_section.html' %}
  
  <!-- Club Info Section -->
  {% include 'clubs/partials/club_info_section.html' %}
{% endblock %}

{% block scripts %}
  {% if locations %}
    <!-- Render script tag for passing JSON data to initialise_map.js -->
    {{ locations|json_script:"locations-data" }}

    <!-- Script for defining initMap before Google Map calls it -->
    <script src="{% static 'js/clubs/initialise_map.js' %}"></script>

    <!-- Load Google Maps API -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqt6uiL3FscoFX4urPWQBeKkFv9ON6Pp4&loading=async&callback=initMap&libraries=marker">  
    </script>
  {% endif %}
    
    <!-- Script controlling toggle behaviour for clubs filter -->
    <script src="{% static 'js/toggle_btn.js' %}"></script>

    <!-- Load HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}