{% extends "base.html" %}

{% block content %}
  <div class="container-max-4 my-5">
    <div class="row">
      <div class="col-12 mt-5">
        <h1 class="h2-style text-center mb-4">Delete Club Review</h1>
        <p class="text-center mb-4">Are you sure you want to delete your review for {{ club.name }}?</p>
        <div class="d-flex justify-content-evenly flex-wrap gap-3">
          <form method="post" action="{% url 'delete_club_review' club.id %}">
            {% csrf_token %}
            <button class="btn btn-custom-danger" type="submit">Delete Review</button>
          </form>
          <a href="{% url 'club_reviews' club.id %}" class="btn btn-custom2">Cancel</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}