{% load static %}

<article id="club-article-{{ club.id }}" class="border club my-5 p-3">
  <!-- Club Name and Website -->
  <div class="d-flex justify-content-between flex-wrap">
    <h3>{{club.name}}</h3>
    {% if club.info.website %}
      <a
        href="{{club.info.website}}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to club website (opens on an another tab)"
      >Visit Website</a
        >
    {% endif %}
  </div>
  <!-- Contact Details -->
  <div
    class="club-contacts d-flex justify-content-between flex-wrap col-gap-4 row-gap-2 border p-3 my-3"
  >
    <div>
      <strong>Contact: </strong>
      <span>{{ club.info.contact_name }}</span>
    </div>
    {% if club.info.contact_phone %}
      <a
        href="tel:{{ club.info.contact_phone }}"
        class="d-flex align-items-center"
        aria-label="Call {{ club.info.contact_name }} on {{ club.info.contact_phone }}"
      >
        <i class="fa-solid fa-phone me-2" aria-hidden="true"></i>
        <span>{{ club.info.contact_phone }}</span>
      </a>
    {% endif %}
    <a
      href="mailto:{{ club.info.contact_email }}"
      class="d-flex align-items-center"
      aria-label="Email {{ club.info.contact_email }}"
    >
      <i class="fa-solid fa-envelope me-2" aria-hidden="true"></i>
      <span>{{ club.info.contact_email }}</span>
    </a>
  </div>
  <!-- Description -->
  <p class="my-3">{{ club.info.description }}</p>
  <!-- Image and Session Info -->
  <div class="mt-4">
    <div class="row g-4">
      <div class="d-flex justify-content-center col-12 col-md-6">
        {% if "placeholder" in club.info.image.url %}
          <picture>
            <source srcset="{% static 'images/placeholder.webp' %}" type="image/webp">
            <source srcset="{% static 'images/placeholder.jpg' %}" type="image/jpeg">
            <img
              class="img-fluid"
              src="{% static 'images/placeholder.jpg' %}"
              alt="No club image provided"
              loading="lazy"
            >
          </picture>
        {% else %}
          <img
            class="img-fluid"
            src="{{ club.info.image.url }}"
            alt="{{ club.name }} image"
            loading="lazy"
          >
        {% endif %}
      </div>
      <div class="col-12 col-md-6">
        <h4 class="fs-5">Sessions</h4>
        {{ club.info.session_info|linebreaksbr }}
      </div>
      <!-- Checkboxes -->
      <div class="club-checkboxes d-flex justify-content-center my-3">
        <ul class="d-flex flex-wrap justify-content-start col-gap-5 row-gap-2">
          {% if club.info.beginners %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Beginners
            </li>
          {% endif %}
          {% if club.info.intermediates %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Intermediates
            </li>
          {% endif %}
          {% if club.info.advanced %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Advanced
            </li>
          {% endif %}
          {% if club.info.kids %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Kids
            </li>
          {% endif %}
          {% if club.info.adults %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Adults
            </li>
          {% endif %}
          {% if club.info.coaching %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Coaching
            </li>
          {% endif %}
          {% if club.info.league %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Participate in league
            </li>
          {% endif %}
          {% if club.info.equipment_provided %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Equipment provided
            </li>
          {% endif %}
          {% if club.info.membership_required %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Membership required
            </li>
          {% endif %}
          {% if club.info.free_taster %}
            <li>
              <i class="fa-solid fa-square-check" aria-hidden="true"></i>
              Free taster sessions
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <!-- Venues-->
  <div>
    <!-- All Venues -->
    {% for venue in club.venues %}
      {% include 'clubs/partials/club_venue.html' %}
    {% empty %}
      <div class="border my-4 px-4 py-2 fs-5 fw-semibold">No venues are currently listed.</div>
    {% endfor %}
  </div>
</article>